.drip-god-page {
  background-color: #24f8ab;
}

.black-container-drip {
  align-content: center;
  background-color: black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1600px;
  margin: auto;
  margin-bottom: 200px;
  width: 1600px;
}

.drip-god-header {
  display: flex;
  font-size: 80px;
  justify-content: center;
  margin: 100px;
}

.get-drippy {
  color: white;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
  width: 60%;
}

.img-div {
  border-radius: 5%;
  transform: scale(0.8);
  margin-top: -35px;
}

.img-div > img {
  border-radius: 5%;
  border: 10px solid #fed559;
}

.jewelry-img-container {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  transform: scale(1.2);
}

.jewelry-img-container > img {
  border: 1px solid #fed559;
  border-radius: 17%;
}

.pricing-container {
  color: #fc5854;
  display: flex;
  font-size: 30px;
  gap: 75px;
  justify-content: space-evenly;
  margin-left: 105px;
  margin-top: 20px;
  transform: scale(1.2);
}
