.follow-us {
  background-color: #24f8ab;
}

.follow-us-header {
  color: black;
  display: flex;
  justify-content: center;
  margin: 100px;
  font-size: 80px;
}

.social-black-container {
  align-items: center;
  background-color: black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 200px;
  max-width: 1800px;
  width: 50%;
}

.social-link {
  display: flex;
  margin: 150px;
  align-items: center;
}

.social-url {
  color: white;
  font-size: 45px;
  margin-left: 150px;
  text-decoration: underline;
}

.social-logo {
  border-radius: 70px;
  height: 200px;
}
