.follow-us {
  background-color: #24f8ab;
}

.follow-us-header {
  color: black;
  display: flex;
  justify-content: center;
  margin: 100px;
  font-size: 80px;
}

.social-black-container {
  align-items: center;
  background-color: black;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 1500px;
  margin: auto;
  margin-bottom: 200px;
  width: 1600px;
}

.instagram-link {
  display: flex;
  margin: 150px;
}

.twitter-link {
  display: flex;
  margin: 150px;
}

.facebook-link {
  display: flex;
  margin: 150px;
}

.linkedin-link {
  display: flex;
  margin: 150px;
}

.instagram-url,
.twitter-url,
.facebook-url,
.linkedin-url {
  color: white;
  font-size: 45px;
  margin-left: 150px;
  text-decoration: underline;
}

.instagram-logo {
  border-radius: 70px;
  height: 200px;
}

.twitter-logo {
  border-radius: 70px;
  height: 200px;
}

.facebook-logo {
  border-radius: 70px;
  height: 200px;
}

.linkedin-logo {
  border-radius: 70px;
  height: 200px;
}
