.about-us {
  display: flex;
  justify-content: center;
  margin: 150px;
}

.about-page {
  background-color: #24f8ab;
}

.black-container {
  align-content: center;
  background-color: black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1500px;
  margin: auto;
  margin-bottom: 200px;
  width: 1800px;
}

.our-mission-container {
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.p {
  color: white;
  font-size: 40px;
  z-index: 1;
}

.strong {
  color: white;
  font-size: 60px;
}

.strong-black {
  color: black;
  font-size: 80px;
}

.who-container {
  margin-top: 100px;
  width: 80%;
  text-align: center;
}
