.footer {
  background-color: black;
  font-family: "Alfa Slab One";
  font-size: 32px;
  text-align: center;
}

.span1 {
  color: white;
  display: flex;
  justify-content: start;
}

.span2 {
  color: white;
  display: flex;
  justify-content: end;
}
