.footer {
  bottom: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-family: "Alfa Slab One";
  font-size: 42px;
  padding: 25px;
  width: 100%;
}

.span1 {
  align-items: left;
  background-color: black;
  vertical-align: middle;
}

.span2 {
  align-items: right;
  background-color: black;
  vertical-align: middle;
}
