.order-form {
  align-items: center;
  background-color: #81ff8d;
  border-radius: 30%;
  display: flex;
  flex-direction: column;
  height: 1390px;
  justify-content: center;
  margin-left: 50px;
  padding: 100px;
  width: 80%;
  border: 5px solid blue;
}

.form-field {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 50%;
}

.order-form > h1 {
  font-size: 50px;
  margin-left: 300px;
  width: 100%;
  text-decoration: underline;
}

.pricing-container {
  color: black;
  width: 50%;
}

.pricing-container > h2 {
  color: black;
  font-size: 32px;
  text-decoration: underline;
}

.radio-group > h3 {
  text-decoration: underline;
  color: black;
}

.price-list {
  color: black;
}

.grip-details {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-bottom: 50px;
  width: 50%;
}

.grip-details > h2 {
  font-size: 40px;
  text-decoration: underline;
}

.submit-btn > button {
  border: 2px solid blue;
  border-radius: 8px;
  color: black;
  display: inline-block;
  font-size: 40px;
  margin-top: 20px;
  padding: 14px 30px;
  transition-duration: 0.4s;
}

.submit-btn > button:hover {
  background-color: blue;
  color: white;
}

input[type="text"] {
  font-size: 30px;
  font-family: "Alfa Slab One";
}

input[type="number"] {
  font-size: 30px;
  width: 150px;
}

input[type="radio"] {
  zoom: 175%;
  width: 50px;
}
