.order-form {
  background-color: #81ff8d;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1300px;
  margin-left: 50px;
  padding: 100px;
  width: 80%;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 30px;
  margin-bottom: 20px;
}

.order-form > h1 {
  width: 100%;
  font-size: 50px;
  margin-top: -50px;
  margin-left: 300px;
}

.pricing-container {
  width: 50%;
  color: black;
  margin-top: 50px;
}

.pricing-container > h2 {
  color: black;
  font-size: 40px;
}

.price-list {
  color: black;
}

.grip-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 30px;
  margin-bottom: 50px;
}

.grip-details > h3 {
  font-size: 40px;
}

.submit-btn > button {
  color: black;
  padding: 14px 32px;
  font-size: 40px;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid blue;
  transition-duration: 0.4s;
  margin-top: 30px;
}

.submit-btn > button:hover {
  background-color: blue;
  color: white;
}
