.header {
  align-items: center;
  background-color: #f7ff96;
  border: 5px solid black;
  border-radius: 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-family: "Alfa Slab One";
  height: 260px;
  width: 70%;
  margin: 75px auto 0;
  top: 75px;
  padding: 0 50px;
  z-index: 999999;
}

.header > h1 {
  font-size: 96px;
  margin-bottom: 75px;
}

.logo-btn > img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.links {
  background-color: #ed6b45;
  border: none;
  border-radius: 50%;
  color: #156047;
  font-size: 35px;
  width: 200px;
  cursor: pointer;
}

.logo-btn {
  background: none;
  border: none;
  border-radius: 45px;
  margin-top: 5px;
}

.logo-btn:hover {
  cursor: pointer;
}

.header-page-btns:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.header-page-btns {
  color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 32px;
  height: 100%;
}

.header-page-btns :nth-child(2) {
  padding-left: 25px;
}

span {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
