.landing-page {
  background-color: #24f8ab;
  display: flex;
}

.img {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.phrase {
  display: flex;
  font-size: 55px;
  justify-content: center;
  margin: 100px;
}

.slogan {
  display: flex;
  font-size: 65px;
  justify-content: center;
  margin: 100px;
}
