.landing-page {
  display: flex;
  background-color: #24f8ab;
}

.img {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24f8ab;
  opacity: 0.5;
}

.phrase {
  font-size: 55px;
  display: flex;
  justify-content: center;
  margin: 100px;
}

.slogan {
  font-size: 65px;
  display: flex;
  justify-content: center;
  margin: 100px;
}
