.landing-page {
  background-color: #24f8ab;
  display: flex;
}

.phrase {
  display: flex;
  font-size: 55px;
  justify-content: center;
  margin: 150px;
  text-align: center;
}

.slogan {
  font-size: 65px;
  margin: 100px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 95%;
}

.black-box {
  background-color: black;
  border-radius: 5%;
  height: 1500px;
  margin: auto;
  width: 1800px;
}
